<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="mocha" default="False"/>
  <arg name="viz" default="False"/>
  <arg name="sender" default="False"/>
  <arg name="rtk" default="False"/>

  <group if="$(arg mocha)">
    <include file="$(find mocha_launch)/launch/basestation.launch">
      <arg name="robot_name" value="basestation"/>
    </include>
  </group>

  <group if="$(arg viz)">
    <include file="$(find geoviz)/launch/viz.launch"/>
  </group>

  <group if="$(arg rtk)">
    <include file="$(find rtk_correction)/launch/broadcaster.launch"/>
  </group>

  <group if="$(arg sender)">
    <include file="$(find scorecard_submitter)/launch/scorecard.launch"/>
  </group>

</launch>
